@font-face {
  font-family: 'jungkalight';
  src: url('jungka-light-webfont.woff2') format('woff2'),
  url('jungka-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'jungkalight';
}
