@font-face {
  font-family: 'jungkalight';
  src: url('jungka-light-webfont.woff2') format('woff2'),
  url('jungka-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'jungkalight';
}

.header {
  background-color: rgb(255, 102, 0);
  margin: 0;
  padding: 10px;
}

.content {
  padding: 10px;
}

.storyItem {
  margin: 0 0 5px 0;
}
